// Cols System taken from Professor Cho

body {
  margin: 0;
}

*,
::after,
::before {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  box-sizing: border-box;
}

.app-content {
  padding: 2rem;
  max-width: 1200px;
  margin: auto;
}
