.btn {
  font-size: large;
  margin: 5px;
  padding: 20px 50px;
  border-radius: 10px;
  cursor: pointer;
}

.btn-play {
  background-color: #f8a305;
  color: rgb(245, 231, 191);
}

.btn-cancel {
  background-color: #dc3545;
  color: rgb(245, 231, 191);
}